:root{
    /* Colors */
    --font-color-black:#000;
    --font-color-white:#FFF;
    --bg-color:#eee;
    --bg-color-card:#1f2949;
    --bg-color-input:#0a1435;

    /* Styles and Size */
    --font-primary:font-family: 'Red Hat Display', sans-serif;
}